html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    /* user-select: none; */
}

body {
    background-color: black;
    margin: 0;
    overflow: hidden;

}

@font-face {
    font-family: 'Minecraft-Regular';
    src: url('Minecraft-Regular.otf');
}

#background-image {
    filter: brightness(40%);
    position:absolute;
    width: 100%;
    height: 100%;
    background-image: url("/textures/dirt.png");
    background-repeat: repeat;
    z-index: -1;
}

#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 3;
    font-family: "Minecraft-Regular";
    font-size: 20px;
}

#canvas-hud {
    position: absolute;
    z-index: 0;
    padding: 0;
    margin: 0;
}

#text {
    position: absolute;
    z-index: 2;
    color: limegreen;
}

#title {
    font-family: "Minecraft-Regular";
    font-size: 100px;
    color: white;
}

#instructions-text {
    color: white;
}

.slider-text {
    color: white;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    height: 15px;
    background: #d3d3d3; 
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; 
    height: 20px; 
    background: green; 
    cursor: pointer; 
}

#name-input {
    color: white;
    font-family : inherit;
    border: none;
    text-decoration: none;
    outline: none;
    left: 10px;
    width: 100%;
    height: 10vh;
    font-size: 40px;
    box-sizing:border-box;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#name-input::placeholder {
    color: white;
    text-align: center;
}

#name-input:focus::placeholder {
    color: transparent;
}

#name-container {
    text-align: center;
    top: calc(62vh + 60px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

#start-button {
    color: white;
    font-family : inherit;
    width: 100%;
    height: 10vh;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0);
    overflow: visible;
}

#loading-bar {
    width: 0%;
    height: 100%;
    background-color: green;
    text-align: center;
    line-height: 10vh;
    overflow: visible;
    white-space: nowrap
}

#chat-input {
    position: absolute;
    left: 5px;
    bottom: 5px;
    height: 35px;
    width: calc(100% - 10px);
    z-index: 2;
    border: none;
    font-family: "Minecraft-Regular";
    font-size: 25px;
    padding-left: 5px;
    text-decoration: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#chat-input::placeholder {
    color: white;
}

/* Style the buttons that are used to open the tab content */
.tablinks {
    color: white;
    font-size: 20px;
    font-family : inherit;
    background-color: rgba(0, 0, 0, 0);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    height: 100%;
    width: 19.9%;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
#blocker button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Create an active/current tablink class */
#blocker button.active {
  background-color: rgba(0, 0, 0, 0.7);
}

#container {
    position: absolute;
    width: 60%;
    height: 80%;
    min-width: 600px;
    margin-left: -30%;
    left: 50vw;
}

#nav {
    height: 4vh;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Minecraft-Regular";
}

/* Style the tab content */
.tabcontent {
    border-top: none;
    text-align: left;
    height: 40vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

#welcome {
    padding: 20px;
}

#changelog {
    overflow-y: scroll;
}

#video-settings {
    overflow-y: scroll;
    padding: 20px;
}

#reset-video {
    margin-top: 20px;
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

#reset-video:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
}

#keyboard-settings {
    overflow-y: scroll;
}

#reset-keyboard {
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

#reset-keyboard:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}

.change-key {
    outline: none;
    border: none;
    text-decoration: none;
    height: 30px;
    float: right;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-family: inherit;
    color: white;
    text-align: center;
}

.change-key::placeholder {
    color: white;
}

.change-key:focus::placeholder {
      color: transparent;
}

a {
    color: white;
}